a:link, a:visited { 
    color: /* browser's internal value */;
    text-decoration: underline;
    cursor: auto;
  }
  
  a:link:active, a:visited:active { 
    color: /* browser's internal value */;
  }